<footer class="py-4 bg-dark bg-gradient">
  <div class="container-sm px-auto py-2 shadow rounded">
    <div class="row px-2">
      <div class="col-md-6 col-lg-4 ">
        <p><a class="" href="#">Active</a></p>
        <p><a class="" href="#">Link</a></p>
        <p><a class="" href="#">Link</a></p>
      </div>
      <div class="col-md-6 col-lg-4">
        <p><a class="" aria-current="page" href="#">Active</a>
        <p><a class="" href="#">Link</a></p>
        <p><a class="" href="#">Link</a></p>
      </div>
      <div class="col-md-6 col-lg-4 mt-2">
        <p><a class="" href="#"><i class="bi bi-house-fill"></i> Av. Huascar 123</a></p>
        <p><a class="" href="#"><i class="bi bi-envelope-fill"></i> example@ventas.pe</a></p>
        <p><a class="" href="#"><i class="bi bi-phone-fill"></i> +51 984651263</a></p>
      </div>
    </div>
  </div>
  <div class="container-sm pt-4 p-3 shadow rounded">
    <div class="row">
      <div class="col-lg-8 text-white-50">
        <p>Copyright © All rights reserved by: <a href="" class="text-decoration-none">The Empire</a></p>
      </div>
      <div class="col-lg-4">
        <a href=""><i class="bi bi-facebook px-1"></i></a>
        <a href=""><i class="bi bi-twitter px-1"></i></a>
        <a href=""><i class="bi bi-instagram px-1"></i></a>
        <a href=""><i class="bi bi-whatsapp px-1"></i></a>
        <a href=""><i class="bi bi-youtube px-1"></i></a>
      </div>
    </div>
  </div>
</footer>

